{% extends 'recipes/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2 class="fade-in">Login</h2>
    <form method="post" class="fade-in">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <p style="color: red;">{{ form.errors }}</p>
        {% endif %}
        {% if form.non_field_errors %}
            <p style="color: red;">{{ form.non_field_errors }}</p>
        {% endif %}
        <button type="submit" class="btn">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
{% endblock %}